<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- The root application node for your app -->
    <application
        android:label="random_user"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- 🔥 This is where you add your Google Maps API Key for authentication -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDTLXZ-rjw7SB147nKPBgZvGPyQa3nFSvM" />
        <!-- Replace this API key with your actual Google Maps API Key -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Meta-data specifying the Flutter theme for your app -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
                
            <!-- Intent filter to declare this activity as the main entry point of your app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Don't delete this meta-data; it's used for Flutter's plugin registration -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- 🔥 Adding the necessary permissions to access the user's location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Required to allow your app to detect activities that can process text (optional for some features) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
